flows (2).json
[{"id":"87823e6e.abe0e","type":"tab","label":"PowerOutput","disabled":false,"info":""},{"id":"6f5e0d4b.180da4","type":"function","z":"87823e6e.abe0e","name":"PreToken","func":"global.set(\"ws\",msg.payload.ws)\nglobal.set(\"wd\",msg.payload.wd)\nvar apikey=\"pm21W0cT04V5q0HDQmfL8_xI0zn-PwzELPkO1a6Ua3ln\";\nmsg.headers={\"Content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":360,"wires":[["99ab56e3.547808"]]},{"id":"99ab56e3.547808","type":"http request","z":"87823e6e.abe0e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":360,"wires":[["ba101a14.8d21e8","d23e9934.4d8088"]]},{"id":"452a5368.79bccc","type":"inject","z":"87823e6e.abe0e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["6f5e0d4b.180da4"]]},{"id":"8636268c.891098","type":"http request","z":"87823e6e.abe0e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/de8b904f-69b1-4926-bd62-5c5c65893cf8/deployments/c76bf77f-f7e7-49a5-ad13-83f62b8cdd2d/online","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":360,"wires":[["f2217890.4161a8"]]},{"id":"ba101a14.8d21e8","type":"function","z":"87823e6e.abe0e","name":"Pre Prediction","func":"var ws = global.get('ws')\nvar wd = global.get('wd')\nvar token=msg.payload.access_token\nvar instance_id=\"de8b904f-69b1-4926-bd62-5c5c65893cf8\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"values\": [[ws,wd]]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":360,"wires":[["8636268c.891098"]]},{"id":"f2217890.4161a8","type":"debug","z":"87823e6e.abe0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":540,"wires":[]},{"id":"d23e9934.4d8088","type":"debug","z":"87823e6e.abe0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":480,"wires":[]}]