flows (3).json
[{"id":"e9002266.b44ff","type":"tab","label":"TimeOutput","disabled":false,"info":""},{"id":"ddd06578.f66ba8","type":"function","z":"e9002266.b44ff","name":"PreToken","func":"global.set(\"ws\",msg.payload.ws)\nglobal.set(\"wd\",msg.payload.wd)\nvar apikey=\"36S75Ah0TWbjSFnRFvrGv_chyc0UCuXh7015yAKSwJwv\";\nmsg.headers={\"Content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":360,"wires":[["e17177ab.60e458"]]},{"id":"e17177ab.60e458","type":"http request","z":"e9002266.b44ff","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":360,"wires":[["ea219207.ea5d3","2c5d6a66.6663c6"]]},{"id":"171b87c.9ff7c78","type":"inject","z":"e9002266.b44ff","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["ddd06578.f66ba8"]]},{"id":"33d19769.134a68","type":"http request","z":"e9002266.b44ff","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/44226453-454e-47e8-bf58-c24855d9c7b6/deployments/4c37dd96-b7f1-4a4e-8faf-ddc09c2bdc27/online","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":360,"wires":[["f4b59789.27f148"]]},{"id":"ea219207.ea5d3","type":"function","z":"e9002266.b44ff","name":"Pre Prediction","func":"var ws = global.get('ws')\nvar wd = global.get('wd')\nvar token=msg.payload.access_token\nvar instance_id=\"44226453-454e-47e8-bf58-c24855d9c7b6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"values\":[\"514 400 313 244 244 221 203 188 188 176 141 110 110 109 108 107 107 134 171 217 217 193 172 152\"]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":360,"wires":[["33d19769.134a68"]]},{"id":"f4b59789.27f148","type":"debug","z":"e9002266.b44ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":540,"wires":[]},{"id":"2c5d6a66.6663c6","type":"debug","z":"e9002266.b44ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":480,"wires":[]}]